{% extends 'base.html' %}
{% load static %}

{% block fonts %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap"
        rel="stylesheet">
{% endblock %}

{% block context %}
<section id="card">
  <div class="container">
			<div class="card ficb">
				<div class="card__block card__block_first">
					{% if bouquet.image %}
        				<img src="{{ bouquet.image.url }}" alt="Изображение букета {{ bouquet.image }}" class="card__img">
    				{% else %}
        				<p>Изображение отсутствует.</p>
    				{% endif %}
				</div>
				<div class="card__block card__block_sec">
					<div class="title">{{ bouquet.name }}</div>
					<div class="card__block_price">{{ bouquet.price }} руб</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Описание</span>
						<div class="card__items">
							<span class="card_items_intro">
								{{ bouquet.description }}
							</span>
						</div>
					</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Состав</span>
						<div class="card__items">
							<span class="card_items_intro">
								{{ bouquet.content }}
							</span>
						</div>
					</div>
					<button class="btn largeBtn card__btn">Заказать букет</button>
				</div>
			</div>
		</div>
</section>
{% include 'flower_shop/consultation_footer.html' %}

{% endblock %}
