{% load custom_tags %}

<section id="consultation">
  <div class="container">
    <div class="consultation">
      <div class="title consultation__title">Оставьте заявку на консультацию</div>
      <form action="{% url 'consulting_request' %}" method="post" class="consultation__form">
          {% csrf_token %}
        <div class="ficb consulting__form_elems">
          {{ form.client_name|add_class:"consultation__form_input" }}
          <div>
            {{ form.contact_phone|add_class_and_placeholder:"consultation__form_input +79995552244" }}
          </div>
          <button type="submit" class="consultation__form_btn">Отправить</button>
        </div>
        <label>
          <div class="checkbox fic">
            {{ form.agreement|add_class:"singUpConsultation__ckekbox" }}
            <span class="chekbox__intro">Я согласен(а) с политикой конфидециоальности</span>
          </div>
        </label>
      </form>
    </div>
  </div>
</section>
