{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block fonts %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap"
        rel="stylesheet">
{% endblock %}

{% block context %}
<section id="singUpConsultation">
  <div class="container">
    <div class="singUpConsultation">
      <form action="{% url 'consulting_request' %}" method="post" class="singUpConsultation__form">
          {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="error">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        <div class="title">Запись на консультацию</div>
          <div class="ficb consulting__form_elems">
            {{ form.client_name|add_class:"order__form_input" }}
            {% for error in form.client_name.errors %}
              <div class="input__error">{{ error }}</div>
            {% endfor %}
            <div>
              <input type="text" class="order__form_input order__form_prefix" value="+ 7" disabled>
              {{ form.contact_phone|add_class_and_placeholder:"order__form_input 9995552244" }}
              {% for error in form.contact_phone.errors %}
                <div class="input__error">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
        <label>
          <div class="checkbox fic">
            {{ form.agreement|add_class:"singUpConsultation__ckekbox" }}
            <span class="chekbox__intro">Я согласен(а) с политикой конфидециоальности</span>
          </div>
          {% for error in form.agreement.errors %}
            <div class="input__error input__error_agreement">{{ error }}</div>
          {% endfor %}
        </label>
        <button type="submit" class="btn singUpConsultation__form_btn">Отправить</button>
      </form>
      <div class="blockImgHiden"></div>
    </div>
  </div>
  <img src="{% static 'img/singUpConsultationImg.jpg' %}" alt="singUpConsultationImg" class="singUpConsultation__img">
</section>
{% endblock %}
