{% extends 'base.html' %}
{% load static %}
{% block fonts %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap"
        rel="stylesheet">
{% endblock %}
{% block context %}
<section id="singUpConsultation">
  <div class="container">
    <div class="singUpConsultation">
        <div class="information__success title">Заявка на консультацию №{{ consultation.pk }} успешно создана!</div>
    </div>
  </div>
  <img src="{% static 'img/singUpConsultationImg.jpg' %}" alt="singUpConsultationImg" class="singUpConsultation__img">
</section>
{% endblock %}