{% extends 'base.html' %}
{% load static %}

{% block fonts %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap"
        rel="stylesheet">
{% endblock %}

{% block context %}
<section id="order">
  <div class="container">
    <div class="order">
      <div class="order__block">
        <div class="order_items">
          <div class="title">Оформление доставки</div>
            <form action="{% url 'create_order' bouquet_id %}" method="post" class="order__form">
                {% csrf_token %}
                
            {% if form.errors %}
                <div class="alert alert-danger mt-3">
                    <strong>Ошибка:</strong> Пожалуйста, исправьте следующие ошибки.
                    <ul>
                        {% for error in form.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <br>
            {% endif %}
            
                <div class="order__form_block ficb">
                    {{ form.fname }}
                    {{ form.tel }}
                    {{ form.adres }}
                </div>
                <div class="order__form_btns fic">
                    {% for interval in form.orderTime.field.queryset %}
                        <div class="order__form_radioBlock">
                            <input type="radio" name="orderTime" id="radio{{ forloop.counter }}" value="{{ interval.id }}" class="order__form_radio">
                            <label for="radio{{ forloop.counter }}" class="radioLable">{{ interval.start_time|time:"H:i" }} - {{ interval.end_time|time:"H:i" }}</label>
                        </div>
                    {% endfor %}
                </div>
            {{ form.online_payment.label }}
            {{ form.online_payment }}
                <div class="order__form_line"></div>
                <div class="order__form_btns ficb">
                    <button type="submit" class="btn order__form_pay">Оплатить</button>
                    <button type="button" class="btn order__form_btn" onclick="window.history.back()">Назад</button>
                </div>
            </form>
        </div>

      </div>
    </div>
  </div>
  <img src="{% static "img/orderImg.jpg" %}" alt="orderImg" class="order__img">
</section>
{% endblock %}


{% block script %}
<script>
  document.querySelector('input[type=radio]').onclick = function (e) {
    // e.preventDefault()
    // console.log(e.target)
    console.log(e.target.value)
  }
</script>
{% endblock %}